.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 12vh;
    padding: 0 3%;
}

header .left {
    font-size: 1.5rem;
}

header .right {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    header .right{

        font-size: 0.8rem;
    }
}