.shimmerCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shimmerCard .left{
    height: 253.33;
    width: 380px;
    border-radius: 8px;
}

.shimmerCard .right{
    height: 241px;
    width: 253.33px;
    border-radius: 8px;
}

.line{
    height: 16px;
    margin: 10px;
    background-color: #aeaeae;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .shimmerCard{
        flex-direction: column;
        gap: 30px;
    }
    .shimmerCard .left{
        width: 330px;
    }
}